# For scraping wikipedia table
requests
bs4==0.0.1
lxml==4.6.3

# For plotting
dash==1.3.0  # The core dash backend
dash-daq==0.2.1
plotly-geo==1.0.0
dash-cytoscape==0.0.5

# For SQL
psycopg2-binary==2.8.3
sqlalchemy==1.3.10
sqlalchemy-utils==0.34.2

# Jupyter
jupyter==1.0.0